@import "utilities/index";
@import "base/index";
@import "components/index";

//------------------------------------------------------
// Base
//------------------------------------------------------
* {
  box-sizing: border-box;
  word-wrap: break-word;
}

header {
  background-color: #7477BE;
  display: flex;
  align-items: center;
  padding: 0.6em 0;
}

form label {
  display: inline-block;
}

.border {
  border: em(1px) solid darkgrey;
}

.border--bottom {
  border-bottom: em(1px) solid darkgrey;
}

.header--traffic {
  display: flex;
  margin-bottom: 0 0 em(16px) 0;
  flex-direction: column;

  .section__title {
    margin-top: 0;
    @media #{$brk-narrow} {
      margin: 0;
    }
  }
  .tab--traffic {
    @media #{$brk-narrow} {
      margin-left: auto;
    }
  }

  @media #{$brk-narrow} {
    flex-direction: row;
    align-items: center;
  }
}

.main {
  display: flex;
}

.content {
  width: calc(100% - 77px);
}

.no-padding {
  padding: 0;
}

//------------------------------------------------------
// List
//------------------------------------------------------

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list--primary-menu {
  display: flex;
  list-style-type: none;
  align-items:center;
  padding: 0;
  margin: 0;

  .list__item {
    padding: 0 em(16px);
  }

  .alarm {
    @media #{$brk-mobile}{
      border-right: 1px solid darken(#7477BE, 25%);
    }
  }

  .profile {
    display: none;
    @media #{$brk-mobile} {
      display: initial;
    }
  }

  .img--profile {
    width: em(36.8px);
    height: em(36.8px);
  }
}

.list--secondary-menu {
  display: inline-block;
  background-color: darken(#7477BE, 45%);
  height: 100%;
  .list__item {
    padding: em(10px) 0;
  }
}

//------------------------------------------------------
// Navigations
//------------------------------------------------------
.primary-menu {
  margin-left: auto;
}

.secondary-menu {
  width: em(77px);
}

//------------------------------------------------------
// Inputs
//------------------------------------------------------

*::placeholder {
  color: darkgrey; // the same color as the border color
}

*:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: darkgrey;
}

*::-ms-input-placeholder { /* Microsoft Edge */
    color: darkgrey;
}

select {
  background-color: lighten(grey, 47%); // same background color as .stats
  padding: 10px 15px;
  border-radius: 5px;
  border: em(1px) solid darkgrey; //same value as .border
  color: darkgrey; // same color as placeholder & border
  margin: 0;
}

input {
  background-color: lighten(grey, 47%); // same background color as .stats
  padding: 10px 15px;
  border-radius: 5px;
  border: em(1px) solid darkgrey; //same value as .border
}

textarea {
  background-color: lighten(grey, 47%); // same background as .stats
  padding: 10px 15px;
  border-radius: 5px;
  border: em(1px) solid darkgrey; //same value as .border
}

//------------------------------------------------------
// Buttons
//------------------------------------------------------

.btn {
  @extend %btn;

  &--default {
    background-color: #7477BE;
    transition: background-color .2s ease-out;
    &:hover{
      background-color: darken(#7477BE, 10%);
    }
  }

  &--info {
    background-color: grey;
    transition: background-color .2s ease-out;
    &:hover{
      background-color: darken(grey, 10%);
    }
  }

  &--success {
    background-color: #81C98F;
    transition: background-color .2s ease-out;
    &:hover{
      background-color: darken(#81C98F, 10%);
    }
  }

  &--alarm {
    border-style: none;
    background-color: transparent;
    padding: em(4px);
    position: relative;
    cursor: pointer;
  }

  &--tab {
    border-style: none;
    background-color: transparent;
    border-radius: em(34px);
    width: 100%;
    cursor: pointer;
    padding: em(10px) em(15px);
    transition: color 0.2s ease-out,
                background-color 0.2s ease-out;

    @media #{$brk-mobile} {
      width: initial;
    }
  }
}

.btn--alarm:hover .icon--primary-menu {
  fill: lighten(grey, 25%);
}

.btn--alarm:hover::before {
  background-color: darken(#81C98F, 12%);
}

.btn--alarm::before {
  position: absolute;
  content: "";
  width: em(10px);
  height: em(10px);
  border-radius: 50%;
  background-color: #81C98F;
  top: 0;
  right: 0;
  transition: background-color 0.2s ease-out;
}

.btn--tab:hover {
  background-color: #81C98F;
  color: white;

}

//------------------------------------------------------
// Grid
//------------------------------------------------------

.grid__row {
  display: flex;
  flex-direction: column;

  @media #{$brk-desktop} {
    flex-direction: row;
  }
}

@for $i from 1 through $g-col-count {
  .g__col--#{$i} {
    @extend %g__col;
    @media #{$brk-desktop} {
      width: percentage($i/$g-col-count);
    }
  }
}

//------------------------------------------------------
// Logo
//------------------------------------------------------

.logo {
  font-size: em(23px);
  margin: 0;
  padding: 0 em(16px);

  a {
    color: white;
    text-decoration: none;
  }

  .reduce-font-weight {
    font-weight: normal;
  }
}

//------------------------------------------------------
// Notifications
//------------------------------------------------------

.notification {
  display: flex;
  align-items: center;
  padding: em(20px) em(20px);
  border-radius: em(5px);
  color: white;

  .title {
    margin: 0 em(10px) 0 0;
  }
  .detail {
    margin-left: em(10px);
  }
  .close {
    margin-left: auto;

    * {
      border-style: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      font-weight: bold;
    }
  }

  &--default {
    background-color: #7477BE;
  }

  &--info {
    background-color: grey;
  }

  &--success {
    background-color: #81C98F;
  }
}

//------------------------------------------------------
// Icons
//------------------------------------------------------

.icon--secondary-menu {
  width: em(37px);
  height: em(37px);
  transition: fill 0.2s ease-out;
  fill: darkgrey;
}

.icon--primary-menu {
  width: em(26px);
  height: em(26px);
  transition: fill 0.2s ease-out;
  fill: white;
}

.icon--stat {
  fill: #7477BE;
  width: em(55px);
  height: em(55px);

  @media #{$brk-wide} {
    width: em(75px);
    height: em(75px);
  }
}

//------------------------------------------------------
// Image
//------------------------------------------------------
.img--profile {
  width: em(55px);
  height: em(55px);
  border-radius: 50%;
}

//------------------------------------------------------
// Form
//------------------------------------------------------

form {
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
    margin: 0 0 em(16px) 0;
  }

  textarea {
    width: 100%;
    margin: 0 0 em(16px) 0;
  }

  select {
    width: 100%;
    margin: 0 0 em(16px) 0;
  }

  label {
    margin: 0 0 em(16px) 0;
  }

  button {
    width: 100%;
    margin: 0 0 em(8px) 0;

    &:last-child {
      margin-bottom: 0;
    }

    @media #{$brk-mobile} {
      margin-bottom: 0;
    }
  }
}

.form--setting {
  button {
    width: 100%;
    @media #{$brk-mobile} {
      width: 50%;
      margin: 0 2%;
    }
  }

  button:first-child {
    @media #{$brk-mobile} {
      margin-left: 0;
    }
  }

  button:last-child {
    @media #{$brk-mobile} {
      margin-right: 0;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin: 0 0 em(16px) 0;

    &:last-child {
      margin: 0;
    }

    input {
      margin: 0;
    }

    textarea {
      margin: 0;
    }

    select {
      margin: 0;
    }

    @media #{$brk-mobile} {
      flex-direction: row;
    }

  }
}

.switch input {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: em(75px);
  height: em(30px);
  margin: 0;
}

.switch__text {
  position: absolute;
  z-index: 2;
  top: 6px;
  left: 7px;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  color: white;
  text-transform: uppercase;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.switch__slider:before {
  position: absolute;
  z-index: 3;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switch__slider {
  background-color: #7477BE;
}

input:checked ~ .switch__text {
  display: initial;
  opacity: 1;
}

input:checked + .switch__slider:before {
  -webkit-transform: translateX(43px);
  -ms-transform: translateX(43px);
  transform: translateX(43px);

}
//------------------------------------------------------
// Link
//------------------------------------------------------

.link--arrow {
  text-decoration: none;
  color: #7477BE;
  font-size: em(25px);
}

.link--profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: color 0.2s ease-out;

  .name {
    padding: em(15px);
  }
}

.link--profile:hover {
  color: lighten(grey, 25%);
}

.link--secondary-menu {
  padding: em(10px) em(20px);
  display:inline-block;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: em(8px);
    height: 100%;
    background-color: #81C98F;
    border-radius: em(34px);
    left: em(-4px);
    top: 0;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  &:hover .icon--secondary-menu {
    fill: white;
  }

  &:hover::before {
    opacity: 1;
  }

  &:focus::before {
    opacity: 1;
  }

  &:active::before {
    opacity: 1;
  }

}

//------------------------------------------------------
// Infobox
//------------------------------------------------------

.infobox--activity {
  display: flex;
  flex-direction: row;

  .content {
    width: 90%;

    @media #{$brk-narrow} {
      display: flex;
      align-items: center;
    }
  }

  .activity {
    margin-bottom: 0.5em;
  }

  .see-more {
    width: 10%;
    transform: rotate(-135deg);
    text-align: center;
  }
}

.infobox--members {
  display: flex;
  flex-direction: column;

  .date {
    width: 100%;

    @media #{$brk-narrow} {
      width: 30%;
      text-align: right;
    }
  }

  .content {
    width: 100%;
    margin-bottom: 0.5em;

    @media #{$brk-narrow} {
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 70%;

    }
  }

  @media #{$brk-narrow} {
    flex-direction: row;
  }
}

.infobox {
  display: flex;
  align-items: center;
  padding: em(24px) 0;

  .profile-pic {
    margin: 0 0 em(16px) 0;

    @media #{$brk-narrow} {
      margin: 0 em(20px) 0 0;
    }
  }

  .detail {
    * {
      display: block;
    }
    @media #{$brk-narrow} {
      margin: 0 em(20px) 0 0;
    }
  }

  & > div:last-child {
    margin: 0;
    @media #{$brk-narrow} {
      margin-left: auto;
    }
  }

  @media #{$brk-narrow} {
    flex-direction: row;
    align-items: center;
  }
}

//------------------------------------------------------
// Social Stats Box
//------------------------------------------------------

.stat {
  @extend %border;
  display: flex;
  padding: em(28.8px) em(27.2px);
  background-color: lighten(grey, 47%);
  flex-direction: column;
  border-radius: em(5px);

  @media #{$brk-mobile} {
    flex-direction: row;
    align-items:center;
  }
}

.stat__icon {
  margin-bottom: 0.5em;
  width: 100%;

  @media #{$brk-mobile} {
    width: initial;
    margin: 0 em(25px) 0 0;
  }
}

.stat__detail {
  width: 100%;

  @media #{$brk-mobile} {
    width: initial;
  }
}

.stat__title {
  color: #7477BE;
  margin: 0;
}

.stat__number {
  font-size: em(30px);
  color: darken(grey, 10%);
  @media #{$brk-wide} {
    font-size: em(40px);
  }
}


//------------------------------------------------------
// Tab
//------------------------------------------------------

.tab {
  &--traffic {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 0;

    @media #{$brk-mobile} {
      align-items:center;
      flex-direction: row;
    }
  }
}

.tab__item--traffic {
  margin: 0 em(5px);
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
