%g__col {
  padding: em(25px);
  width: 100%;

  &.theme__colors {
    background-color: grey;
  }
}

%btn {
  border-style: none;
  border-radius: em(5px);
  color: white;
  padding: em(15px) em(30px);
  cursor: pointer;
}

%border {
  border: em(1px) solid map-get($ui-theme,"info");
}

%infobox {
  display: flex;
  align-items: center;
  padding: em(24px) 0;

  .profile-pic {
    margin: 0 0 em(16px) 0;

    @media #{$brk-narrow} {
      margin: 0 em(20px) 0 0;
    }
  }

  .infobox__detail {
    * {
      display: block;
    }
    @media #{$brk-narrow} {
      margin: 0 em(20px) 0 0;
    }
  }

  & > div:last-child {
    margin: 0;
    @media #{$brk-narrow} {
      margin-left: auto;
    }
  }

  @media #{$brk-narrow} {
    flex-direction: row;
    align-items: center;
  }
}

%responsive-layout {
  display: flex;
  flex-direction: column;
}

%input {
  background-color: lighten(grey, 47%); // same background color as .stats
  padding: em(10px) em(15px);
  border-radius: em(5px);
  border: em(1px) solid map-get($ui-theme,"info"); //same value as .border
}

%list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

%notification {
  display: flex;
  align-items: center;
  padding: em(20px) em(20px);
  border-radius: em(5px);
  color: white;

  .title {
    margin: 0;
  }
}
