%g__col {
  padding: em(25px);
  width: 100%;

  &.theme__colors {
    background-color: grey;
  }
}

%btn {
  border-style: none;
  border-radius: em(5px);
  color: white;
  padding: em(15px) em(30px);
  cursor: pointer;
}

%border {
  border: em(1px) solid darkgrey;
}
