@mixin notification-dot {
  &::before {
    position: absolute;
    content: "";
    width: em(10px);
    height: em(10px);
    border-radius: 50%;
    background-color: map-get($ui-theme,"success");
    top: 0;
    right: 0;
    transition: background-color 0.2s ease-out;
  }

  &:hover::before {
    background-color: darken(map-get($ui-theme,"success"), 12%);
  }
}

@mixin form-position__input($width, $margin-bottom) {
  width: $width;
  margin: 0 0 em($margin-bottom) 0;
}


@mixin flush-element($direction,$type, $no-media: true) {
  @if $no-media {
    #{$type}-#{$direction}: 0;
  } @else {
    @media #{$brk-mobile} {
      #{$type}-#{$direction}: 0;
    }
  }
}
