//------------------------------------------------------
// Font
//------------------------------------------------------

$font__size--base: 16px;

//------------------------------------------------------
// Mobile Queries
//------------------------------------------------------
$brk-mobile: '(min-width: 454px)';
$brk-narrow: '(min-width: 768px)';
$brk-wide: '(min-width: 1400px)';

//------------------------------------------------------
// Grid
//------------------------------------------------------
$g-col-count: 12;
