//------------------------------------------------------
// Form
//------------------------------------------------------

form {
  @extend %responsive-layout;
  input,
  textarea,
  select {
    @include form-position__input(100%, 16px);
  }

  label {
    @include form-position__input("initial", 16px);
  }

  button {
    @include form-position__input(100%, 8px);

    &:last-child {
      @include flush-element("bottom", "margin", false);
    }
  }
}

.form--setting {
  button {
    width: 100%;

    &:first-child {
      @include flush-element("left","margin");
    }

    &:last-child {
      @include flush-element("right","margin");
    }

    @media #{$brk-mobile} {
      width: 50%;
      margin: 0 2%;
    }
  }

  .form-group {
    @extend %responsive-layout;
    @include form-position__input("initial", 16px);

    input,
    textarea,
    select {
      margin: 0;
    }

    &:last-child {
      margin: 0;
    }

    @media #{$brk-mobile} {
      flex-direction: row;
    }
  }
}
