//------------------------------------------------------
// Icons
//------------------------------------------------------

.icon--secondary-menu {
  @include object-dimension(em(37px),em(37px));
  transition: fill 0.2s ease-out;
  fill: darkgrey;
}

.icon--primary-menu {
  @include object-dimension(em(26px),em(26px));
  transition: fill 0.2s ease-out;
  fill: white;
}

.icon--stat {
  @include object-dimension(em(55px),em(55px));
  fill: #7477BE;

  @media #{$brk-wide} {
    @include object-dimension(em(75px),em(75px));
  }
}
