//------------------------------------------------------
// Image
//------------------------------------------------------
.img--profile {
  width: em(55px);
  height: em(55px);
  border-radius: 50%;
}
