//------------------------------------------------------
// Inputs
//------------------------------------------------------

*::placeholder {
  color: darkgrey; // the same color as the border color
}

*:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: darkgrey;
}

*::-ms-input-placeholder { /* Microsoft Edge */
    color: darkgrey;
}

select {
  background-color: lighten(grey, 47%); // same background color as .stats
  padding: 10px 15px;
  border-radius: 5px;
  border: em(1px) solid darkgrey; //same value as .border
  color: darkgrey; // same color as placeholder & border
  margin: 0;
}

input {
  background-color: lighten(grey, 47%); // same background color as .stats
  padding: 10px 15px;
  border-radius: 5px;
  border: em(1px) solid darkgrey; //same value as .border
}

textarea {
  background-color: lighten(grey, 47%); // same background as .stats
  padding: 10px 15px;
  border-radius: 5px;
  border: em(1px) solid darkgrey; //same value as .border
}
