//------------------------------------------------------
// Link
//------------------------------------------------------

.link--email {
  $color: map-get($ui-theme,"default");
  @include link-base-properties($color);
}


.link--arrow {
  $color: map-get($ui-theme,"default");
  @include link-base-properties($color);
  font-size: em(25px);
}

.link--profile {
  $color: white;
  $hover-color: darken(grey, 25%);
  @include link-base-properties($color,$hover-color);

  display: flex;
  align-items: center;

  .name {
    padding: em(15px);
  }
}

.link--secondary-menu {
  padding: em(10px) em(20px);
  display:inline-block;
  position: relative;

  &::before {
    @include object-dimension(em(8px), 100%);
    position: absolute;
    content: "";
    background-color: #81C98F;
    border-radius: em(34px);
    left: em(-4px);
    top: 0;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  &:hover .icon--secondary-menu {
    fill: white;
  }

  &:focus::before,
  &:active::before,
  &:hover::before {
    opacity: 1;
  }
}
