//------------------------------------------------------
// Notification
//------------------------------------------------------

.notification__title {
  margin: 0 em(10px) 0 0;
}
.notification__detail {
  margin: 0 0 0 em(10px);
}
.notification__close {
  margin-left: auto;

  * {
    border-style: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
}

.notification {
  @each $theme, $color in $ui-theme {
    &--#{$theme} {
      @extend %notification;
      background-color: $color;
    }
  }
}
