.section__header {
  margin: 0 0 em(16px) 0;

  .section__title {
      margin: 0;
  }
}

.section__header--traffic {
  @extend %responsive-layout;

  .tab--traffic {
    @media #{$brk-narrow} {
      margin-left: auto;
    }
  }

  @media #{$brk-narrow} {
    flex-direction: row;
    align-items: center;
  }
}
