.switch input {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: em(75px);
  height: em(30px);
  margin: 0;
}

.switch__text {
  position: absolute;
  z-index: 2;
  top: 6px;
  left: 7px;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  color: white;
  text-transform: uppercase;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.switch__slider:before {
  position: absolute;
  z-index: 3;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switch__slider {
  background-color: #7477BE;
}

input:checked ~ .switch__text {
  display: initial;
  opacity: 1;
}

input:checked + .switch__slider:before {
  -webkit-transform: translateX(43px);
  -ms-transform: translateX(43px);
  transform: translateX(43px);

}
