//------------------------------------------------------
// Base
//------------------------------------------------------
* {
  box-sizing: border-box;
  word-wrap: break-word;
}

header {
  background-color: #7477BE;
  display: flex;
  align-items: center;
  padding: 0.6em 0;
}

form label {
  display: inline-block;
}

.section__header {
  margin: 0 0 em(16px) 0;

  .section__title {
      margin: 0;
  }
}

.section__header--traffic {
  display: flex;
  flex-direction: column;

  .tab--traffic {
    @media #{$brk-narrow} {
      margin-left: auto;
    }
  }

  @media #{$brk-narrow} {
    flex-direction: row;
    align-items: center;
  }
}

.main {
  display: flex;
}

.main-content {
  width: 100%;
  transition: width 0.5s ease-out;

  &.make-room {
    width: calc(100% - 77px);
  }

  @media #{$brk-narrow} {
    width: calc(100% - 77px);
  }
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}
